<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->

</div>

</body>
</html>

<!-- Task 2.1: Display List of Jobs -->
<!-- Create a loop to display each job passed in from the controller
     Presented in tables with each job in its own table. ListController has variable names
     Add job-listing css for styling
     Table for each job, one job field per row. Reference demo
     Test code by running program and clicking links [Web - Back End = 6 jobs, iOS = 4, etc] -->