<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- TODO #4 - Loop over the search results to display all job fields. -->

</div>

</body>
</html>

<!-- Task 4: Display Search Results -->
<!-- Create loop to display each job passed in from the controller
     Put the job results into a set of tables, similar to list-jobs view
         Can reuse list-jobs.html code by defining a new "fragment" in that file, then including that fragment in search.html
         For the fragment to work properly in both files the variables passed in by model.addAttribute() must use the same names -->

<!-- At this point all autograding tests should be passing. Right click org.launchcode.techjobs.mvc package in src/test/java
        and select "Run tests in..." to make sure. Compare app's behavior/visual information to demo app. -->